{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>{{ controller_name }}</h1>

    <p>On ne va pas se mentir, acheter c’est souvent l’investissement d’une vie !</p><p>C’est pourquoi il ne faut pas se tromper. Lors de l’achat, il est important de faire les bons choix pour y vivre sereinement le temps nécessaire. Néanmoins, il ne faut pas à ce moment-là perdre de vue la revente et garder en tête que l’achat reste un investissement qui peut permettre de faire une belle plus-value.</p><p> Pour réaliser le meilleur placement, votre agent SBK IMMOBILIER vous conseillera à chaque étape de la transaction.</p>

        <div class="cards">
            <div class="card">
                <img src="images/house1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Maison Caveirac 4 pièce(s) 132 m2 </b></h4>
                    <p>CAVEIRAC 30820</p>
                    <p>1 100 € / mois</p>
                    <p>Le bien est sur cour, au calme, et se compose comme suit: Une entrée avec placard, un séjour, une cuisine aménagée et équipé...</p>
                </div>
            </div> 
            <div class="card">
                <img src="images/house1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Maison Caveirac 4 pièce(s) 132 m2 </b></h4>
                    <p>CAVEIRAC 30820</p>
                    <p>1 100 € / mois</p>
                    <p>Un bel appartement meublé de 3 pièces , 66,96 m², situé au pied du métro Pyrénées....</p>
                </div>
            </div> 
            <div class="card">
                <img src="images/house1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Maison Caveirac 4 pièce(s) 132 m2 </b></h4>
                    <p>CAVEIRAC 30820</p>
                    <p>1 100 € / mois</p>
                    <p> Le bien est sur cour, au calme, et se compose comme suit: Une entrée avec placard, un séjour, une cuisine aménagée et équipé...</p>
                </div>
            </div> 
            <div class="card">
                <img src="images/house1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Maison Caveirac 4 pièce(s) 132 m2 </b></h4>
                    <p>CAVEIRAC 30820</p>
                    <p>1 100 € / mois</p>
                    <p>Un bel appartement meublé de 3 pièces , 66,96 m²...</p>
                </div>
            </div> 
        </div> 
{% endblock %}
