<div class="head">
    <div class="title">
        <h1>Agence {{ controller_name }}<br> Région Occitanie</h1>
        <h2>Transaction – location – gestion – estimation</h2>
        <a class="scrolldown" href="#annonce">
            <icon style="font-size:50px;color:white;"class="fa fa-chevron-circle-down icon"></icon>
        </a>
    </div>
</div>
<div id="annonce" class="title">
    <h1>Nos coups de coeur <icon class="fa fa-heart-o"></icon></h1>
</div>