@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

body{ 
    background-color: #252f5d;
    background-image:url("/images/bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    margin: .5rem;
    padding: .5em;
    color: #fff;
}

a:hover{
    transition: all .5s;
    color: #00bfff;
}

.wrapper { 
    background-color: #fff;
    position: relative;
    top: 5rem;
    padding: 1rem;
    margin: 0 auto;
    width: 1300px;
    max-width: 100%;
    min-height: 250vh;
}

.nav {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    background-color: #252f5d;
    background-image:url("/images/bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo:hover {
    transition: all .5s;
    background-color: #00bfff69;
}

.menu {
    background-color: #ff000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social_nav{
    background-color: #00000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    background-color: rgba(72, 255, 0, 0);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem auto;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    background-color: rgba(255, 0, 0, 0);
    transition: all .5s;
    padding: 0.5rem;
}

  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0px 3px 5px 0px #2c345567;
    scale: 1.03;
}