/* ----------------------------------------------------------------
	show /bien/show.html.twig
-----------------------------------------------------------------*/
.containerShow {
  background-color: var(--white);
  padding: 1rem;
  font-size: var(--fontLarge);
}

.container {
  background-color: var(--white);
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem ;
}
.container .desc {
  padding: 1rem;
  text-align: justify;
}