@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@import "components/vars.css";
@import "components/navbar.css";
@import "components/banner.css";
@import "components/cards.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
body {
  /* background-color: rgba(0, 255, 64, 0.144);
  background-image: url('/images/toulouseBanner.jpg');
  background-blend-mode: screen;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain; */
}

a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0.5rem;
  padding: 0.5em;
  color: rgb(0, 0, 0);
}

a:hover {
  transition: all 0.5s;
}

/* ----------------------------------------------------------------
	base /base.html.twig
-----------------------------------------------------------------*/
.base {
  position: relative;
  top: 5rem;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

/* ----------------------------------------------------------------
	show /bien/show.html.twig
-----------------------------------------------------------------*/
.show {
  background-color: rgba(255, 0, 0, 0);
  max-width: 1000px;
  position: relative;
  top: 15rem;
  margin: 0 auto;
}

.container {
  background-color: rgba(0, 26, 255, 0);
}
.carousel {
  background-color: rgba(0, 255, 234, 0);
  display: flex;
  gap: 1rem ;
}
.carousel>img {
  height: 350px !important;
  width: 300px !important;
  background-color: rgba(43, 255, 0, 0);
  border-radius: 10px;
}