@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@import "pages/show.css";
@import "components/vars.css";
@import "components/navbar.css";
@import "components/banner.css";
@import "components/cards.css";
@import "components/carousel.css";
@import "components/search.css";
@import "components/test.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
}
body {
  /* background-color: var(--themecolor); */
  /* background-image: url('/images/toulouseBanner.jpg'); */
  background-blend-mode: normal;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0.5rem;
  padding: 0.5em;
  color: rgb(0, 0, 0);
}

a:hover {
  transition: all 0.5s;
}

/* ----------------------------------------------------------------
	base /base.html.twig
-----------------------------------------------------------------*/
.base {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem ;
  margin: 0 auto;
  position: relative;
  top: 5rem;
  padding: 0;
}