<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>E-mmo|{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{asset('favicon.ico')}}" />
        <link rel="stylesheet" href="{{asset('css/main.css')}}" />

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
